<!DOCTYPE html>
{% load static %}
{% include 'app/base1.html' %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static '/app/css/home.css' %}" rel="stylesheet" type="text/css" > 
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
   
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
</head>
<body>
<div class="container"> 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src='{%static "/app/images/slide1.jpg" %}' height="100%" width="100%">
      </div>

      <div class="item">
        <img src='{%static "/app/images/slide2.jpg" %}' height="100%" width="100%">
      </div>
    
      <div class="item">
       <img src='{%static "/app/images/slide3.jpg" %}' height="100%" width="100%">
      </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="process">
    <div class="icons">
<div id = "launchpad"><a href="">Add Launchpad</a></div>
<div id = "upload"><a href="">Upload Data</a></div>
<div id = "cluster"><a href="">Detect the object</a></div>
<div id = "predict"><a href="">Project its trajectory</a></div>
<div id = "visualize">Visualize<a href=""></a></div>
<div id = "launch"><a href="">Launch Missile</a></div>    
</div>

<svg id="roadmap-svg" viewBox="0 0 760 3000">
  <!--path class="track" id="track1" stroke-dasharray="10,9" d="M645,164.04
                                                             c94.488-0.933,147.798,113.116,61,198.96 
                                                             c-112.197,110.964-250.383,70.569-402,133 
                                                             c-110.712,45.587-171.223,130.125-158.981,201.27 
                                                             M195.214,786.783 
                                                             C308.019,900.449,535.719,776.242,585,930 
                                                             c18.75,58.5,0.346,121.5-10.028,149.343 
                                                             M519,1230.551
                                                             C485.436,1315,477,1434,535,1476
                                                             c47.015,34.045,115.498,12.164,131-45
                                                             c16-59-23-111-88-112
                                                             c-84.843-1.306-125.168,89.977-138.98,151
                                                             c-15.885,70.191,14.48,139.643,57.16,193.202 
                                                             M584.698,1786.219
                                                             c35.149,46.862,48.542,101.471-3.998,141.429
                                                             c-52.421,39.867-115.838,17.305-165.888-13.571
                                                             c-53.508-33.005-222.409-144.596-354.4-151.492
                                                             c-65.354-3.416-132.975,15.642-173.593,70.394
                                                             c-35.042,47.233-43.539,112.665-22.847,167.587
                                                             c22.548,59.844,76.491,95.053,137.791,106.104
                                                             c81.652,14.722,130.323-30.101,213.6-42.669
                                                             c112.637-17,195.638,54.803,221.399,130.602
                                                             M479.961,2346
                                                             c15.618,110-32.448,221.008-163.556,202.901
                                                             c-69.651,50.899-70.48,127.04-64.81,178.391" /-->
  <path class="body" id="body1" stroke-dasharray="10,9" d="M645,164.04
                                                             c94.488-0.933,147.798,113.116,61,198.96 
                                                             c-112.197,110.964-250.383,70.569-402,133 
                                                             c-110.712,45.587-171.223,130.125-158.981,201.27 
                                                             M195.214,786.783 
                                                             C308.019,900.449,535.719,776.242,585,930 
                                                             c18.75,58.5,0.346,121.5-10.028,149.343 
                                                             M519,1230.551
                                                             C485.436,1315,477,1434,535,1476
                                                             c47.015,34.045,115.498,12.164,131-45
                                                             c16-59-23-111-88-112
                                                             c-84.843-1.306-125.168,89.977-138.98,151
                                                             c-15.885,70.191,14.48,139.643,57.16,193.202 
                                                             M584.698,1786.219
                                                             c35.149,46.862,48.542,101.471-3.998,141.429
                                                             c-52.421,39.867-115.838,17.305-165.888-13.571
                                                             c-53.508-33.005-222.409-144.596-354.4-151.492
                                                             c-65.354-3.416-132.975,15.642-173.593,70.394
                                                             c-35.042,47.233-43.539,112.665-22.847,167.587
                                                             c22.548,59.844,76.491,95.053,137.791,106.104
                                                             c81.652,14.722,130.323-30.101,213.6-42.669
                                                             c112.637-17,195.638,54.803,221.399,130.602
                                                             M479.961,2346
                                                             c15.618,110-32.448,221.008-163.556,202.901
                                                             c-69.651,50.899-70.48,127.04-64.81,178.391" />
    
</svg>
    <!--TODO:link to next page-->
    <br>
    <a href="" id="start_process">Get Started</a>
</div>
    

<!--script>
let roadmapSvg = document.getElementById("roadmap-svg");
let track = document.getElementById("track1");
let body = document.getElementById("body1");
let head = document.getElementById("head");

let totalLength = track.getTotalLength();
let trackPoints = [];
let getTrackBounds = () => track.getBoundingClientRect();
let scaleFactor;

body.style.strokeDasharray = totalLength;
body.style.strokeDashoffset = totalLength;

function setScaleFactor(){
  scaleFactor = roadmapSvg.getBoundingClientRect().width / roadmapSvg.viewBox.baseVal.width;
}   
setScaleFactor();

function setTrackPoints(){
  let divisions = 1000;
  let unitLength = totalLength / divisions;
    
         
  trackPoints = [];
  for(let i=0; i < divisions; i++){
    let length = unitLength * i;
    let {x,y} = track.getPointAtLength(length);
    trackPoints.push({x: x*scaleFactor, y: y*scaleFactor, length});
  }
}
setTrackPoints();


function draw(){
  let currentLength = getCurrentLength();
  body.style.strokeDashoffset = totalLength - currentLength;
  headPos = track.getPointAtLength(currentLength);
  head.setAttribute("cx", headPos.x);
  head.setAttribute("cy", headPos.y);
}

function getCurrentLength(){
  let centreY = window.innerHeight / 2;
  let trackBounds = getTrackBounds();
   
  let currentY = centreY - trackBounds.y;
  if(currentY < 0) return 0;
  
  // if currentY is greater that track height, that means the user has scrolled pass the track (and the whole svg) in such case the animation should be completed i.e. the head should be at the final position i.e. at totalLength 
  if(currentY > trackBounds.height) return totalLength;
  
  for(let point of trackPoints){
    if(point.y >= currentY){
      return point.length;
    }
  }
  
  // (For safety) Sometimes none of the conditions match bcoz of low precision... Such situation only occurs a point very close to total length... Thus...
  return totalLength;
}

document.addEventListener("scroll", draw);

window.addEventListener("resize", () => {
  setScaleFactor();
  setTrackPoints();
  draw();
});
</script-->
</body>
</html>

<!--path id="p1" fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-miterlimit="0" d="M845,14.04
		c94.488-0.933,147.798,113.116,61,198.96c-112.197,110.964-250.383,70.569-402,133c-110.712,45.587-171.223,130.125-158.981,201.27" style="stroke-dasharray: 977.678px; stroke-dashoffset: 0px; visibility: visible;">
<path id="p2" fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10" d="M395.214,636.783
		C508.019,750.449,735.719,626.242,785,780c18.75,58.5,0.346,121.5-10.028,149.343" style="stroke-dasharray: 591.916px; stroke-dashoffset: 591.916px; visibility: visible;"></path>
<path id="p3" fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10" d="M719,1080.551
		C685.436,1165,677,1284,735,1326c47.015,34.045,115.498,12.164,131-45c16-59-23-111-88-112c-84.843-1.306-125.168,89.977-138.98,151
		c-15.885,70.191,14.48,139.643,57.16,193.202" style="stroke-dasharray: 1021.02px; stroke-dashoffset: 754px; visibility: visible;"></path>
<path id="p4" fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10" d="M784.698,1636.219
		c35.149,46.862,48.542,101.471-3.998,141.429c-52.421,39.867-115.838,17.305-165.888-13.571
		c-53.508-33.005-222.409-144.596-354.4-151.492c-65.354-3.416-132.975,15.642-173.593,70.394
		c-35.042,47.233-43.539,112.665-22.847,167.587c22.548,59.844,76.491,95.053,137.791,106.104
		c81.652,14.722,130.323-30.101,213.6-42.669c112.637-17,195.638,54.803,221.399,130.602" style="stroke-dasharray: 1780.42px; stroke-dashoffset: 63px; visibility: visible;"></path>
<path id="p5" fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10" d="M679.961,2196
		c15.618,110-32.448,221.008-163.556,202.901C437.362,2387.983,326,2354,248,2411c-69.651,50.899-70.48,127.04-64.81,178.391" style="stroke-dasharray: 787.032px; stroke-dashoffset: 626px; visibility: visible;"></path>
</path-->
