<!DOCTYPE html>
{% load static %}
<html>
<head>
      <title>Leaflet sample</title>
      <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
	  <!--script src="https://cdn-webgl.eegeo.com/eegeojs/api/v0.1.780/eegeo.js"></script-->
	  <!--script src="https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js"></script-->
    
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
   
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

      <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{% static '/app/js/attack.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'css/launch.css' %}">
   
</head>
{% block content %}
  {% include 'app/side_nav.html' %}
    <body>
      <div id = "map" style="width: 70%; height: 725px; margin-top: -70px; float: left; margin-left: 5%;" ></div>
      <div class='forms' style="float: right; width: 25%;height: 725px; margin: 0; margin-top: -70px;">
     
            
            <div class="row" style="text-align: center;"><p id="heading" style="font-size: 15px; font-weight: bold; color: black;">Select Launchpad!!!</p></div>
            <hr>
            <div id="details" style="text-align: left; margin-bottom: 20px;"></div>
            <div class="row" style="text-align: center;"><button class="btn btn-dark" id="next" onclick="plotPolyline()" style="margin :10px; display: none;">Next</button></div>
            <div id="launch_details"></div>
            <div style='display:none;' id="lat"></div>
            <div style='display:none;' id="long"></div>
            <div class="row" style="text-align: center;"><button class="btn btn-dark" id="launch" style="margin: 10px; display: none;" onclick="plotmissile()">Launch</button></div>
            
        </div>
      <script>
      var x1;
      var y1;
      var x2;
      var y2;
    function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


    function ajax(lat,long){
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
        //   $('#wait').show();
        }
    });
    $.ajax({
        url: 'launch',
        type: 'POST',
        dataType: "json",
        data: {'lat':lat,'long':long} ,
        complete: function () {
        //   $('#wait').hide();
        },
        success: function (data) {
        document.getElementById("launch_details").innerHTML = "Angle:     "+data.angle+"<br><br>Time:      "+data.time;
        x1 = data.lat_i ;
        y1 = data.long_i ;
        x2 = data.lat_lpd ;
        y2 = data.long_lpd ; 
        }
    });

    }
    // Creating map options
         var mapOptions = {
            center: [22.593726, 75.9375],
			//[51.517327, -0.120005]
            zoom: 5
         }
         
         // Creating a map object
         var map = new L.map('map', mapOptions);
		//var map = L.Wrld.map("map", "c7a01773c760c638f361b5c1b60d147a", {
        //center: [51.517327, -0.120005],
        //zoom: 12
        // });
		 
		 //L.eeGeo.map
		 //their api keys 2207a928392ebe113122fce9e16c3a48
         
         // Creating a Layer object
        var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
         
         // Adding layer to the map
         map.addLayer(layer);
		 
		
	locateLaunchPads();
          
    function locateLaunchPads(){
    var lpJSON = 
    {"launchpads":
      [

       {% for x in launch_pads %}
           {"name":'{{x.fields.name}}', "lat": '{{x.fields.latitude}}', "lng":' {{x.fields.longitude}}'}, 
       {% endfor %}
      ]   
     }
    
    var lp;
    
    for(lp in lpJSON.launchpads){
        lat=parseFloat(lpJSON.launchpads[lp].lat); 
        lng=parseFloat(lpJSON.launchpads[lp].lng);
        name=lpJSON.launchpads[lp].name;
        var marker = L.marker([lat, lng]).on('click',getLatLng).addTo(map);
        marker.bindPopup("<b>"+name+"</b>");
        marker.on('mouseover',function(e){
            this.openPopup();
        });
        marker.on('mouseout',function(e){
            this.closePopup();
        });
    }
}
    function getLatLng(e){
        latt = e.latlng.lat;
        long = e.latlng.lng;
        x="Latitude: " + latt + "<br><br>Longitude: " +long;
        
        // ajax(latt,long);
        document.getElementById("heading").innerHTML = "Location of Launchpad:<br>";
        document.getElementById("details").innerHTML = x;
        document.getElementById("lat").innerHTML = latt;
        document.getElementById("long").innerHTML = long;
        document.getElementById("next").style.display = "inline";
        
    }
    function plotPolyline(){
        
        var latlngs = [
        {% for a,b in csv %}

        [{{a}},{{b}}],

        {% endfor %} 

        ];

        var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
        // zoom the map to the polyline
        map.fitBounds(polyline.getBounds());
        //get lat long here
        lat=document.getElementById("lat").textContent;
        long=document.getElementById("long").textContent;
        console.log(lat,long);
        ajax(lat,long);
        
        // document.getElementById("launch_details").innerHTML = "Angle:"+"<br><br>Time:";
        document.getElementById("launch").style.display = "inline";
        
    }
    function plotmissile(){
        
        var latlngs = [[x1,y1],[x2,y2]];
        console.log(latlngs);
        var polyline = L.polyline(latlngs, {color:'blue'}).addTo(map);
        map.fitBounds(polyline.getBounds());
        
        var crossMark = L.icon({
        iconUrl: '{%static "/app/images/crossMark.png" %}',

        iconSize:     [38, 38], // size of the icon
        iconAnchor:   [22, 37], // point of the icon which will correspond to marker's location

        
});
L.marker([x1, y1], {icon: crossMark}).addTo(map);

    }
	
      </script>
   </body>
  
{% endblock %}
</html>
