{% extends 'app/base.html' %}

{% block content %}

  <a href="{% url 'new_lpd' %}" class="btn btn-primary">Add launchpad</a><br><br>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Missile</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for pad_info in launch_pads %}
      
        <tr>
          <td class="align-middle">{{ pad_info.fields.name }}</td>
          <td class="align-middle">{{ pad_info.fields.latitude }}</td>
          <td class="align-middle">{{ pad_info.fields.longitude }}</td>
          <td><button type="button" class="close">X</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<a href="{% url 'upload' %}"> {% include 'app/next_button.html' %} </a>
{% endblock %}
