<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static '/app/css/app.css' %}" rel="stylesheet" type="text/css" >
<script src="{% static "/app/js/app.js" %}" type="text/javascript"></script>
</head>


<body>
<!--img src='{%static "/app/images/logo_parichit.jpg" %}' alt = "A" -->
<div id="mySidenav" class="sidenav">
<a href="#">
  <img id ="logo-file" src='{%static "/app/images/logo_parichit.jpg" %}' alt = "A">  
  </a>
  <a class="closebtn" onclick="closeNav()">&times;</a>

  <a href="{% url 'upload' %}">Upload Data</a>
  <a href="{% url 'launchpad' %}">Configure Launchpad</a>
  <a href="{% url 'cluster' %}">Predict</a>
  <a href="{% url 'visualize' %}">Visualize</a>
   <a href="{% url 'launch' %}">Launch</a>
</div>

<div id="main">
<span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
</div>
</body>
</html> 
