{% extends 'app/base.html' %}
{% load static %}

<script src="{% static "/app/js/app.js" %}" type="text/javascript"></script>

{% block content %}
  <div id="full_body">
  {% include 'app/side_nav.html' %}
  
  <h2>
    <strong>Upload Files:</strong>
  </h2>
    <form id="upload-form" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="file-picker" type="file" name="file" accept="*" multiple>
        <div id="msg"></div>
        <input type="submit" value="Upload!" id="upload-button">
    </form>
  <table class="table" id="shTable">
    <thead class="thead-inverse">
      <tr>
        <th>Select</th>
        <th>Name</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
        {% for file in file_added %}
           <tr>
             <td>
              <input type="checkbox" class="form-check-input checkedsingle" name="{{file.fields.inputfile_path}}"  value="{{file.fields.inputfile_path}}">
             </td>
            <td>{{file.fields.inputfile_path}}</td> 
            <td>{{file.fields.time}}</td>
           </tr>
        {% endfor %}
    </tbody>
  </table>
  <button type="button" onclick="predict();" class="btn btn-dark">Predict</button>
  </div>
{% endblock %}