{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <!--
  ArcGIS API for JavaScript, https://js.arcgis.com
  For more information about the graphics-basic-3d sample, read the original sample description at developers.arcgis.com.
  https://developers.arcgis.com/javascript/latest/sample-code/graphics-basic-3d/index.html
  -->
<title>Add Graphics to a SceneView - 4.14</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.14/esri/themes/light/main.css"
    />
    <script src="https://js.arcgis.com/4.14/"></script>

    <style>
      html,
      body,
      #viewDiv {
        padding: 0;
        margin: 0;
        height: 97%;
        width: 100%;
      }
    </style>

    <script>
      require([
        "esri/Map",
        "esri/views/SceneView",
        "esri/layers/GraphicsLayer",
        "esri/Graphic"
      ], function(Map, SceneView, GraphicsLayer, Graphic) {
        var map = new Map({
          basemap: "hybrid"
        });

        var view = new SceneView({
          container: "viewDiv",
          map: map,

          camera: {
            // autocasts as new Camera()
            position: {
              // autocasts as new Point()
              x: 59.842949,
              y: 6.24394,
              z: 22325
            },
            heading: 0.34445102566290225,
            tilt: 82.95536300536367
          }
        });

        /*********************
         * Add graphics layer
         *********************/

        var graphicsLayer = new GraphicsLayer();
        map.add(graphicsLayer);

        /*************************
         * Add a 3D point graphic
         *************************/

        // London
        var point = {
          type: "point", // autocasts as new Point()
          x: 59.461262,
          y: 8.27792,
          z: 33750
        };

        markerSymbol = {
          type: "simple-marker", // autocasts as new SimpleMarkerSymbol()
          color: [0, 255, 0],
          outline: {
            // autocasts as new SimpleLineSymbol()
            color: [255, 255, 255],
            width: 2
          }
        };

        var pointGraphic = new Graphic({
          geometry: point,
          symbol: markerSymbol
        });

        graphicsLayer.add(pointGraphic);

        /****************************
         * Add a 3D polyline graphic
         ****************************/
          
        var polylinebeg = {
          type: "polyline", // autocasts as new Polyline()
          paths: [
            [59.842949, 6.34394, 0],
            [59.842949, 6.34394, 22125]
          ]
        };

        lineSymbolbeg = {
          type: "simple-line", // autocasts as SimpleLineSymbol()
          color: [255, 255, 255],
          width: 2
        };

        var polylineGraphicbeg = new Graphic({
          geometry: polylinebeg,
          symbol: lineSymbolbeg
        });

        graphicsLayer.add(polylineGraphicbeg);

        var polyline1 = {
          type: "polyline", // autocasts as new Polyline()
          paths: [
            [59.842949, 6.34394, 22125],
              [59.803799,6.55234,23850],
              [59.791931,6.78226,25525],
              [59.78159,6.99678,26800],
              [59.745838,7.1861,28175],
              [59.686668,7.41729,29450],
              [59.631321,7.63248,30400],
              [59.572948,7.85655,31650],
              [59.522301,8.04824,32550],
              [59.461262,8.27792,33750]
          ]
        };

        lineSymbol1 = {
          type: "simple-line", // autocasts as SimpleLineSymbol()
          color: [226, 119, 40],
          width: 4
        };

        var polylineGraphic1 = new Graphic({
          geometry: polyline1,
          symbol: lineSymbol1
        });

        graphicsLayer.add(polylineGraphic1);
          
        var polyline2 = {
          type: "polyline", // autocasts as new Polyline()
          paths: [
              [59.461262,8.27792,33750],
              [59.40131, 8.50171, 34950],
              [59.34856,8.6955,35700],
              [59.287109,8.91995,36425],
              [59.22578,9.14255,36900],
              [59.161331,9.37363,37000]
          ]
        };

        lineSymbol2 = {
          type: "simple-line", // autocasts as SimpleLineSymbol()
          color: [0, 0, 255],
          width: 4
        };

        var polylineGraphic2 = new Graphic({
          geometry: polyline2,
          symbol: lineSymbol2
        });

        graphicsLayer.add(polylineGraphic2);
          
        var polylineend = {
          type: "polyline", // autocasts as new Polyline()
          paths: [
            [59.161331,9.37363,37000],
              [59.161331,9.37363,0]
          ]
        };

        lineSymbolend = {
          type: "simple-line", // autocasts as SimpleLineSymbol()
          color: [255, 255, 255],
          width: 2
        };

        var polylineGraphicend = new Graphic({
          geometry: polylineend,
          symbol: lineSymbolend
        });

        graphicsLayer.add(polylineGraphicend);

        /***************************
         * Add a 3D polygon graphic
         ***************************

        var polygon = {
          type: "polygon", // autocasts as new Polygon()
          rings: [
            [59.842949, 6.34394, 0],
            [59.842949, 6.34394, 22125],
              [59.803799,6.55234,23850],
              [59.791931,6.78226,25525],
              [59.78159,6.99678,26800],
              [59.745838,7.1861,28175],
              [59.686668,7.41729,29450],
              [59.631321,7.63248,30400],
              [59.572948,7.85655,31650],
              [59.522301,8.04824,32550],
              [59.461262,8.27792,33750],
              [59.461262,8.27792,0],
              [59.842949, 6.34394, 0]
          ]
        };

        var fillSymbol = {
          type: "simple-fill", // autocasts as new SimpleFillSymbol()
          color: [227, 139, 79, 0.8],
          outline: {
            // autocasts as new SimpleLineSymbol()
            color: [255, 255, 255],
            width: 1
          }
        };

        var polygonGraphic = new Graphic({
          geometry: polyline,
          symbol: fillSymbol
        });

        graphicsLayer.add(polygonGraphic);*/
      });
    </script>
      <script src="{% static "/app/js/app.js" %}" type="text/javascript"></script>

  </head>


{% block content %}
  {% include 'app/side_nav.html' %}

  <body>
    <div id="viewDiv"></div>
  
{% comment %} 
{% for a,b in csv %}

<b>{{a}}</b>,{{b}}<br>

{% endfor %} {% endcomment %}
  <a href="{% url 'launch' %}"> {% include 'app/next_button.html' %} </a>
{% endblock %}
</body>
</html>