body {
  margin: 0;
  font-family: sans-serif;
    height: 3500px;
    z-index: 1;
    background-image: url(../images/home_bg.JPG);
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}

.process
{
    margin-top: 10px;
    background-color: #00000099;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 100px;
}

#roadmap-svg{
  display: block;
  max-width: 600px;
  margin: 20px auto;
  overflow: visible;
    z-index: 0;
}

#roadmap-svg #head{
  fill: red;
}

#roadmap-svg .track{
  fill: none;
  stroke-dashoffset: 3px;
  stroke: grey;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke-dasharray: 20;
}
#roadmap-svg .body{
  fill: none;
  stroke-dashoffset: 3px;
  stroke: white;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-dasharray: 20;
  stroke-linecap="round" 
  transition: stroke-dashoffset ease-in-out 0.2s;
}

.center-line{
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  border-top: 1px solid red;
  background-color: rgba(255,255,255,0.9);
}
.icons img
    {
        z-index: 5;
    }
#launchpad
    {
        background-color: white;
        height: 100px;
        width: 100px;
        margin-left: 790px;
        margin-bottom: -200px;
        margin-top: 100px;
        z-index: 5;
    }
#upload
    {
        background-color: white;
        height: 100px;
        width: 100px;
        margin-left: 450px;
        margin-bottom: -600px;
        margin-top: 500px;
        z-index: 5;
    }
#cluster
    {
        background-color: white;
        height: 100px;
        width: 100px;
        margin-left: 750px;
        margin-bottom: -950px;
        margin-top: 850px;
        z-index: 5;
    }
#predict
    {
        background-color: white;
        height: 100px;
        width: 100px;
        margin-left: 700px;
        margin-bottom: -1350px;
        margin-top: 1250px;
        z-index: 5;
    }
#visualize
    {
        background-color: white;
        height: 100px;
        width: 100px;
        margin-left: 600px;
        margin-bottom: -1700px;
        margin-top: 1600px;
        z-index: 5;
    }
#launch
    {
        background-color: white;
        height: 100px;
        width: 100px;
        margin-left: 450px;
        margin-bottom: -2000px;
        margin-top: 1900px;
        z-index: 5;
    }
#start_process
{
    text-decoration: none;
    padding: 10px 30px;
    background: black;
    color: white;
    border-radius: 20px;
}

